{% extends "layout.html" %} {% block content %}
<h1>About Page</h1>

<br/>
<h4> Haversine Distance Calculation</h4>
<p> This uses the ‘haversine’ formula to calculate the great-circle distance between two points – that is, the shortest distance over the earth’s surface.</p>

<h5> Haversine formula:	</h5>
<p>a = sin²(Δφ/2) + cos φ1 ⋅ cos φ2 ⋅ sin²(Δλ/2)<br />
c = 2 ⋅ atan2( √a, √(1−a) )<br />
d = R ⋅ c<br/>
where	φ is latitude, λ is longitude, R is earth’s radius (mean radius = 6,371km);
note that angles need to be in radians to pass to trig functions!</p>

<br/>
<h4>Flight Details</h4>
<p>Enter flight number to obtain details like flight source and destination along with scheduled arrival and departure times.</p>

{% endblock content %}